.container{

    margin: auto;
    max-width: 600px;
    
}

.delimg{
    width: 20px;
    height: 24px;
}

.done{
    text-decoration: line-through;
}

ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

.item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
    margin-top: 15px;
    width: 100%;
    font-size: 30px;
    
}

.card{
    box-shadow: 0 2px 7px 1px rgba(0, 0, 0, 0.2);
    background-color: white;
}

.card:hover{
    width: 605px;
    height: 60px;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.addbutton{
    width: 50px;
    height: 50px;
    font-size: 20px;
    border: none;
    background-color: skyblue;
    color: white;
    border-radius: 25px;
}

.addbutton:hover{
    width: 53px;
    height: 53px;
}

.modal{
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.2);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cardModal{
    padding: 20px;
    background-color: white;
    width: 400px;
    height: 100px;
    border-radius: 5px;
}

.cardModal:hover{
    width: 400px;
    height: 100px;
}

.hide{
    display: none;
}

.input{
    width: 300px;
    height: 30px;  
    border-radius: 20px;
    font-size: large;
    border-style: solid;
}

.p{
    color: black;
    margin-top: 0;
    margin-left: 20px;
    font-size: large;
    
}

.inputbtn{
    margin-left: 20px;
    width: 70px;
    height: 40px;
    border-radius: 20px;
    
}
.corpo{
    background-color: beige;
}